|@model MvcMovie.Models.Database.Movie

|@{
|    ViewData["Title"] = "Create Movie";
|}

h4 Create movie

|@using (Html.BeginForm("Create", "Movies", FormMethod.Post))
|{
|    @Html.Partial("_EditForm", Model);
|}
