|@model MvcMovie.Models.Database.Movie

|@{
|    ViewData["Title"] = "Edit";
|}

h4 Edit movie

|@using (Html.BeginForm("Edit", "Movies", FormMethod.Post))
|{
.text-danger
|    @Html.HiddenFor(model => model.ID)
|    @Html.Partial("_EditForm", Model);
|}
