<div class='main'>
    <img class='phone-img' src='~/images/phone.png' alt='Phone'/>
    <div class='separator'></div>
    <img class='logo-img' src='~/images/tcg_logo.png' alt='Logo'/>
</div>

<div class='features'>
    <div class='feature'>
        <img class='img' src='~/images/ic_list.png' alt='ic_list'/>
        <h4 class='title'>Keep track of your money</h4>
        <p>See all your debts and all your friends debts towards you.</p>
    </div>
    <div class='feature'>
        <img class='img' src='~/images/ic_reminder.png' alt='ic_reminder'/>
        <h4 class='title'>Generate reminders</h4>
        <p>Get reminded of who owes your money or who you owe money to.</p>
    </div>
    <div class='feature'>
        <img class='img' src='~/images/ic_safe.png' alt='ic_safe'/>
        <h4 class='title'>No internet needed</h4>
        <p>All your debts are kept safe in your phone.</p>
    </div>
</div>
