<link rel='stylesheet' href='~/css/__colors.css' />
<link rel='stylesheet' href='~/css/landing.css' />

<div>
    <img class='phone-img' src='~/images/phone.png' alt='Phone'/>
    <div class='separator'></div>
    <img class='logo-img' src='~/images/tcg_logo.png' alt='Logo'/>
</div>