@model MvcMovie.Models.Database.Movie

@{
    ViewData["Title"] = "Create Movie";
}

<h4>Create movie</h4>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post))
{
    @Html.Partial("_EditForm", Model);

    <div class='form-group'>
        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating)
        @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger"})
    </div>

    <div class='form-group'>
        <input type="submit" value="Create" />
    </div>
}
