@model MvcMovie.Models.Database.Movie

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit movie</h4>

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post))
{
    <div class='text-danger'></div>
    @Html.HiddenFor(model => model.ID)
    @Html.Partial("_EditForm", Model);
}
