.body {
    border-top: 8px solid $cream-can;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.body {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.logo-img {
    align-self: center;
}

.logo-img, .phone-img {
    margin: 30px 35px;
}

.separator {
    background: -webkit-linear-gradient(top, $white, $cream-can, $white);
    background: -moz-linear-gradient(top, $white, $cream-can, $white);
    background: -o-linear-gradient(top, $white, $cream-can, $white);
    background: linear-gradient(top, $white, $cream-can, $white);
    max-width: 3px;
    width: 100%;
}

.features {
    align-items: center;
    background: $gallery;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    .feature {
        color: $dusty-gray;
        font-weight: bold;
        max-width: 250px;
        text-align: center;
        width: 100%;

        .img {
            margin: 40px 35px 0;
        }

        .title {
            color: $cod-gray;
        }
    }

    &::before {
        background: url(../images/triangle.png) repeat-x;
        content: '';
        height: 100%;
        min-height: 12px;
        min-width: 14px;
        position: absolute;
        top: -12px;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .phone-img, .separator {
        display: none;
    }
}
