.body {
    border-top: 8px solid $cream-can;
    font-family: OpenSans, sans-serif;
    margin: 0;

    .main {
        display: flex;
        justify-content: center;
    }
}

.logo-img {
    align-self: center;
}

.logo-img, .phone-img {
    margin: 30px 35px;
}

.separator {
    background: -webkit-linear-gradient(top, $white, $cream-can, $white);
    background: -moz-linear-gradient(top, $white, $cream-can, $white);
    background: -o-linear-gradient(top, $white, $cream-can, $white);
    background: linear-gradient(top, $white, $cream-can, $white);
    max-width: 3px;
    width: 100%;
}

.features {
    align-items: center;
    background: $gallery;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    .feature {
        color: $dusty-gray;
        font-weight: bold;
        max-width: 250px;
        text-align: center;
        width: 100%;

        .feature-image {
            margin: 40px 35px 0;
        }

        .title {
            color: $cod-gray;
        }
    }

    &::before {
        background: url(../images/triangle.png) repeat-x;
        content: '';       
        height: 12px;
        position: absolute;
        top: -12px;
        width: 100%;
    }
}

.footer
{
    align-items: center;
    background: #F5C85F;
    display: flex;
    flex-direction: column;
    font-family: OpenSans, sans-serif;
    margin: 0;
    height: 100%;
    justify-content: space-around;

    .info-label
    {
        color: #FFF;
        font-size: 1.3em;
    }

    .mail-input
    {
        border: 0;
        border-radius: 10px;
        flex-shrink: 0;
        height: 2.5em;
        width: 25em;
    }

    .button
    {
        background: rgba(0,0,0,0);
        border: 1px solid #FFF;
        border-radius: 8px;
        color: #FFF;
        font-size: 1em;
        height: 3em;
        width: 10em;
    }
}

.footer
{
    align-items: center;
    background: #F5C85F;
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    margin: 0;
    height: 100%;
    justify-content: space-around;
}

.footer label
{
    color: #FFF;
    font-size: 1.3em;
}

.footer .input
{
    border: 0;
    border-radius: 10px;
    flex-shrink: 0;
    height: 2.5em;
    width: 25em;
}

.footer .button
{
    background: rgba(0,0,0,0);
    border: 1px solid #FFF;
    border-radius: 8px;
    color: #FFF;
    font-size: 1em;
    height: 3em;
    width: 10em;
}

@media screen and (max-width: 1024px) {
    .phone-img, .separator {
        display: none;
    }
}

@font-face {
    font-family: OpenSans;
    src: url(../lib/fonts/OpenSans-Regular.ttf);
}